__pycache__*
*.xcf
xcfs/*
.idea/*
*.mp4
*.wav
!assets/songs/*/*.wav
*.lnk
*.mmpz
logs/*
build/*
*.DS_Store
texture_atlas.png
songs/**/*.json
testing/*
unused_assets/*
levels/custom_levels/*
userdata/*
dist/*
output.spec
assets/sounds/Cyberleaf-ModernUISFX/Sounds/*.wav
entry_point.spec

